body{
    font-size: 20px;
    background-color: x#e8e9f3;
    line-height: 150%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header{
    /* display: inline-block; */
    width: 100%;
    height: 80px;
    background-color:#42474d;
}

h1 {
    padding-top: 25px;
    display: inline-block;
    font-size: 200%;
}

/* Navigation bar */

nav {
    padding-top: 25px;
    margin-right: 20px;
    float: right;
}

/* nav bar list items */
nav ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}