    :root{
        --dark-font: #7f5539;
        --header-color:#ddbea9;
    }
    
    /* adds smooth scrolling to entire document */
    html {
        scroll-behavior: smooth
    }
    
    /* style for all of the body elements */
  body{
      font-size: 15px;
      background-color: #f0efeb;
      color: var(--dark-font);
      line-height: 200%;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
  /* styling the header */
  header{
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      height: 80px;
      background-color: var(--header-color);
  }
  /* h1 tag inside the header */
  h1 {
      padding-left: 40px;
      padding-top: 25px;
      display: inline-block;
      font-size: 400%;
  }
  
  
  /* Navigation bar */
  
  nav {
      display: flex;
      padding-top: 25px;
      margin-right: 20px;
      float: right;
  }
  
  /* nav bar list items */
  nav ul li {
      display: flex;
      flex-wrap: wrap;
      display: inline-block;
      margin-left: 25px;
      list-style-type: none;
      font-size: 150% ;
  }
  /* nav bar list item anchor tags */
  nav ul a {
      color: var(--dark-font);
      text-decoration: underline;
      text-underline-position: under;
  }
  /* background hero image */
  #heroimage{
      display: flex;
      height: 300px;
      width: 100%;
      margin-bottom: 25px;
      background-image: url("../assets/images/woodfloor.jpg");
      background-size: cover;
      background-position: center;
  }
  /* profile picture */
  #profile-picture{
    position: absolute;
    display: flex;
    flex: 0 0 100%;
    width: 15%;
    height: 34.4%;
    background:url("../assets/images/profile2.jpg") no-repeat;
    background-size: 100%;
    opacity: 0.9;
  }
  
  
  /* flexing entire section then its two child elemnts, the aside and .main */
  section{
      display: flex;
      flex: 0 0 100%;
  }
  /* left 25% of page */
  aside {
      flex: 0 0 25%;
      border-right: solid #a5a58d 3px;
      margin: 10px;
      padding-top: 10px;
      padding-right: 10px;
      text-align: right;
      font-size: 350%;
  }
  /* right 75% of page */
  .main {
      flex: 0 0 75%;
      margin: 20px;
      padding: 10px;
      
  }
  /* giving article elements padding */
  article {
      padding-left: 25px;
  }
  /* style for link tag in article paragraph */
  article p a{
      color: black;
      text-decoration: underline;
      text-underline-position: under;
  }
  /* flexing images */
  #img1 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
  }
  
  
  .img-width{
      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 49%;
      margin-top: 5px;
      
  }
/* hover effect on images */
  .img-width:hover{
    box-shadow: inset 20px 20px 50px 10px yellow, 0 0 15px yellow;
  }

  #img1:hover {
    box-shadow: inset 20px 20px 50px 10px yellow, 0 0 15px yellow;

  }

  /* list items in contact me section */
  article ul li{
      display: flex;
      flex-wrap: wrap;
      display: inline-block;
      margin-top: 45px;
      margin-left: 110px;
      list-style-type: none;
      font-size: 150% ;
      color: black;
      
  }
  /* list item links in contact me section */
  article ul a {
      color:var(--dark-font);
      text-decoration: underline;
      text-underline-position: under;
  }
  
  /* media query for screen sizes 904px and below */
  @media screen and (max-width:904px){
      header{
          display: inline-flex;
          flex-wrap: wrap;
          justify-content: center;
          width: 100%;
          height: 150px;
          background-color:var(--header-color);
      }
      h1 {
          padding-top: 25px;
          padding-left: 0px;
          display: inline-block;
          font-size: 300%;
          color: var(--dark-font);
      }
      nav {
          display: flex;
          padding-top: 25px;
          float: right;
      }

      

      aside {
        flex-direction: column;
        flex: 0 0 100%;
        border-bottom: solid #a5a58d 3px;
        border-right: 0px;
        margin: 10px;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
        text-align: center;
        font-size: 200%;
    }
    
    .main {
        flex-direction: column;
        flex: 0 0 75%;
        margin: 20px;
        padding: 10px;
        
    }

      #img1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 10px;
    }
    
    
    .img-width{
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        
    }
  }

  /* media query for screen sizes 430px and below */
  @media screen and (max-width:430px){
    body{
        font-size: 10px;
    }

    header{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 150px;
        background-color:var(--header-color);
    }
    h1 {
        padding-top: 25px;
        padding-left: 0px;
        display: inline-block;
        font-size: 300%;
        color: var(--dark-font);
    }
    nav {
        display: flex;
        padding-top: 25px;
        float: right;
    }
    
    aside {
        flex-direction: column;
        flex: 0 0 100%;
        border-bottom: solid #a5a58d 3px;
        border-right: 0px;
        margin: 10px;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
        text-align: center;
        font-size: 200%;
    }
    
    .main {
        flex-direction: column;
        flex: 0 0 75%;
        margin: 20px;
        padding: 10px;
        
    }

    #img1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 10px;
    }
    
    
    .img-width{
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        
    }

    article ul li{
        display: flex;
        flex-wrap: wrap;
        display: inline-block;
        margin-top: 45px;
        margin-left: 10px;
        list-style-type: none;
        font-size: 150% ;
        color: black;
        
    }
}
