  /* style for all of the body elements */
body{
    font-size: 20px;
    background-color: x#e8e9f3;
    line-height: 150%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/* styling the header */
header{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color:#ddb892;
}
/* h1 tag inside the header */
h1 {
    padding-left: 40px;
    padding-top: 25px;
    display: inline-block;
    font-size: 200%;
    color: #7f5539;
}

/* Navigation bar */

nav {
    display: flex;
    padding-top: 25px;
    margin-right: 20px;
    float: right;
}

/* nav bar list items */
nav ul li {
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}

nav ul a {
    color:#7f5539;
    text-decoration: underline;
    text-underline-position: under;
}
.back-img{
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/images/woodfloor.jpg") ;
    background-size: cover;
    background-position: center;
}


/* aside h2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 190%;
    height: 90%;
    padding-left: 150px;
} */

#about-me{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


#about-me article{
    width: 75%;
    padding-left: 25px;
}

#work{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


#work article{
    width: 75%;
    padding-left: 25px;
}

#img1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
}


.img-width{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 37.5%;
    
}
.img2 .img-width {
    height: 50px;
    width: 100px;
}
#contact-me{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#contact-me article{
    width: 75%;
    padding-left: 25px;
}


#contact-me li{
    display: flex;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

aside{
    border-right: 1px solid black;
}

aside h2{
    width: 25%;
    display: flex;
    flex: wrap;
    padding-left: 50px;
    
}