  /* style for all of the body elements */
body{
    font-size: 20px;
    background-color: #ede0d4;
    line-height: 150%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/* styling the header */
header{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color:#ddb892;
}
/* h1 tag inside the header */
h1 {
    padding-left: 40px;
    padding-top: 25px;
    display: inline-block;
    font-size: 300%;
    color: #7f5539;
}

/* Navigation bar */

nav {
    display: flex;
    padding-top: 25px;
    margin-right: 20px;
    float: right;
}

/* nav bar list items */
nav ul li {
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}

nav ul a {
    color:#7f5539;
    text-decoration: underline;
    text-underline-position: under;
}
.back-img{
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/images/woodfloor.jpg") ;
    background-size: cover;
    background-position: center;
}


section{
    display: flex;
    flex: 0 0 100%;
}
aside {
    flex: 0 0 25%;
    border-right: solid black 1px;
    margin: 10px;
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
    font-size: 290%;
}

.main {
    flex: 0 0 75%;
    margin: 20px;
    padding: 10px;
    
}

.main p {
    color: #7f5539;
}

#img1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}


.img-width{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 49%;
    
}

article ul li{
    display: flex;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width:900px){
    #img1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    
    
    .img-width{
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        
    }

    header{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 150px;
        background-color:#ddb892;
    }
    h1 {
        padding-top: 25px;
        padding-left: 0px;
        display: inline-block;
        font-size: 300%;
        color: #7f5539;
    }
    nav {
        display: flex;
        padding-top: 25px;
        float: right;
    }

    aside {
        font-size: 200%;
    }
}

